body {
  margin: 0;
}

#navbar {
  position: fixed;
  top: 0px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background-image:url(dark.jpg);
}

#navbar a {
  text-decoration: none;
  display: block;
  padding: 1em;
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}



main {
  display: fixed;
}

#welcome{
    text-align: center;
    background-image:url(blue2.jpg);
	background-size:cover;
	background-position:center;
    padding-top: 45vh;
	color:white;
	font-family:Lucida Handwriting;
	height:540px;
}
#welcome h1{
	font-family:Lucida Handwriting;
	font-size:40px;
}

#projects {
  margin-top:-35px;
  height:600px;
  text-align: center;
  background-image:url(dark.jpg);
  background-size:cover;
  background-position:center;
  color:white;
}

#resume {
  height:600px;
  
  text-align: center;
  background-image:url(blue2.jpg);
  background-size:cover;
  background-position:center;
  display: grid;
  color:white;
 
}
#resume h1{
	font-family:Lucida Handwriting;
	padding-top:40px;
	font-size:40px;
	
}
#resume h2 {
	font-family:Lucida Handwriting;
	
	
}
#projects h1{
	font-family:Lucida Handwriting;
	padding-top:50px;
	font-size:40px;
	
}
#projects img{
	
	height:350px;
	width:400px;
	padding-left:60px;
	padding-bottom:40px;
	
	
}
#projects p{

	padding-top:40px;
	font-size:20px;
	text-align:left;
	padding-left:600px;
	
}


#profile {
   text-align: center;
   color:white;
   background-image:url(blue1.jpg);
   background-size:cover;
   background-position:center;
   display: grid;
   height:350px;
 
}
#profile h1{
	font-family:Lucida Handwriting;
	padding-top:20px;
	font-size:40px;
	
}
#d1{ 
    float:left;  
    width:50%; 
    height:280px;
text-align:center;
	
} 
 #d2{ 
    float:left;  
    width:50%; 
    height:280px; 
} 

#profile a {
   text-decoration: none;
   color: white;
   height:70px;
	width:70px;

}
#footer {
	margin-top:60px;
	height:30px;
	text-align: center;
    color:black;
    background:white;
}








